/**
 * Form elements
 */

// Buttons

button {
    border-radius: $radius;
    border: 0;
    background: $primary-blue-dark;
    margin: 0 auto;
    color: #fff;
    height: 51px;
    text-decoration: none;
    font-size: 1.4em;
    padding: 0 1em;
    font-weight: normal;
    letter-spacing: .5px;

    &:hover,
    &:focus {
        background: $primary-blue-dark;
    }
}

// Checkboxes

 input[type="checkbox"] {
     display: none;

     + label {
         margin: 0 1em 0.4em 0;
         display: block;
         position: relative;
         font-size: 1.1em;

         &:hover {
             color: $primary-red;

             &:before {
                 color: $primary-blue-dark;
             }
         }
     }
 }

input[type="checkbox"]:checked + label {
    color: $primary-red;
}


// Selects

select {
    background: none;
    border: 0;
    box-shadow: none;
    font-size: 1em;
    color: $primary-blue-dark;
    border-bottom: 1px solid $primary-blue-dark;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    padding-right: 1.5em;
}

// Placeholders

input::-webkit-input-placeholder {
   color: rgba($primary-blue-dark, 0.4);
}

input:-moz-placeholder { /* Firefox 18- */
   color: rgba($primary-blue-dark, 0.4);
}

input::-moz-placeholder {  /* Firefox 19+ */
   color: rgba($primary-blue-dark, 0.4);
}

input:-ms-input-placeholder {
   color: rgba($primary-blue-dark, 0.4);
}
