/**
 * Form box
 */

.o-form-group {
    display: block;
    margin: 1em 0;
    font-size: 1.1em;
}

.o-form-control {
    border: 0;
    box-shadow: 0 1px $primary-blue-dark;
    font-size: 1em;
    color: $primary-blue-dark;
    padding: .3em .1em;
    background-color: transparent;
    appearance: none;
    display: block;

    &:focus {
        box-shadow: 0 2px $primary-blue-dark;
        outline: none;
        background-color: #fff;
    }
}

.o-form-controls-group {

}

.o-label {
    vertical-align: top;
    color: $primary-blue-dark;
}

.o-label-inbetween {
    display: inline-block;
    width: 2em;
    color: $primary-blue-dark;
    opacity: .5;
}

.o-label-inbetween--small {
    width: .5em;
}

.o-label-icon {
    margin-right: .5em;
    font-size: 1.2em;
    position: relative;
    top: .2em;
    color: $primary-red;
}

.o-label--horizontal {
    width: 7em;
}

// horizontal form

.o-form--horizontal {
    .o-label,
    .o-form-control,
    .o-form-controls-group {
        display: inline-block;
    }
}

// The following still needs to be sorted

.form-box {
    padding: 1em 1.5em;
    @media (min-width: $bp2) {
        padding: 2em 2.5em;
        box-shadow: inset -1px 0 0 0 rgba($gray, .5),
                    inset -3px 0 7px 0 rgba($gray, .1);
    }
}

select + .select-arrow {
    position: relative;
    left: -1.3em;
    width: 0px;

    i.icon-arrow-down {
        font-size: 80%;
        pointer-events: none;
    }
}

#tot {
    margin-left: .5em;
    margin-right: .5em;
}

.notification-medium {
    color: $primary-blue-dark;
}

/* checkboxes */

input[type="checkbox"] + label {
    .icon-plus,
    .icon-check {
        display: inline-block;
        font-size: 120%;
        margin-right: .4em;
        position: relative;
        top: .15em;
    }

    .icon-check {
        display: none;
    }

    + .notify-field {
        display: none;
    }
}

input[type="checkbox"]:checked + label {
    .icon-plus {
        display: none;
    }

    .icon-check {
        display: inline-block;
    }

    + .notify-field {
        display: block;
    }
}

// hide stuff for JS

#dvData_google,
#calfield {
    display: none;
}
