/**
 * Form box
 */

.form-box {
    padding: 1.5em 1em 1em 2.5em;
    flex: 1;
    display: flex;
    overflow: scroll;
    box-shadow: inset -1px 0 0 0 rgba($gray, 0.5),
                inset -3px 0 7px 0 rgba($gray, 0.1);
}

.date-time {
    border-radius: $radius;
    background-color: $gray-light;
    border-bottom: 2px solid $primary-red;
    margin-bottom: 1.5em;
    padding: 0.9em 1.2em 0;
}

.dt-icon {
    margin-right: 0.5em;
    font-size: 1.2em;
    position: relative;
    top: 0.2em;
    color: $primary-red;
}

.date-time > * {
    display: inline-block;
}

.label-inbetween {
    width: 2em;
    color: $primary-blue-dark;
    opacity: 0.5;
}

.label-inbetween-small {
    width: 0.5em;
    color: $primary-blue-dark;
    opacity: 0.5;
}

.time-field {
    font-size: 1.1em;
    letter-spacing: 1px;
    margin-bottom: 1em;
    display: block;

    .label {
        width: 8em;
        vertical-align: top;
    }
}

.time-field input,
.hour-field select {
    background: none;
    border: 0;
    border-bottom: 1px solid $primary-blue-dark;
    box-shadow: none;
    font-size: 1em;
    color: $primary-blue-dark;
    padding: 0.3em 0.5em;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select + .select-arrow {
    position: relative;
    left: -1.3em;
    width: 0px;

    i.icon-arrow-down {
        font-size: 80%;
        pointer-events: none;
    }
}

.time-field input:focus {
    outline: none;
    background-color: white;
}

#tot {
    margin-left: .5em;
    margin-right: .5em;
}

#dvData_google {
    display: none;
}

#calfield {
    padding: 5px 30px;
    width: 137px;
    color: white;
    position: absolute;
    bottom: 15px;
}

.button-n-field {
    flex: 1;
    max-height: 270px;

    &:first-child {
        padding-right: 1em;
    }

    &:last-child {
        padding-left: 1em;
    }
}

#textme {
    bottom: 150px;
}

.notification-medium {
    background-color: $gray-light;
    border-radius: $radius;
    border-bottom: 2px solid $primary-red;
    margin-bottom: 1.5em;
    padding: 0.9em 1.2em 0.3em;
    color: $primary-blue-dark;
}

/* checkboxes */

input[type="checkbox"] + label {
    .icon-plus,
    .icon-check {
        display: inline-block;
        font-size: 120%;
        margin-right: 0.4em;
        position: relative;
        top: 0.15em;
    }

    .icon-check {
        display: none;
    }

    + .notify-field {
        display: none;
    }
}

input[type="checkbox"]:checked + label {
    .icon-plus {
        display: none;
    }

    .icon-check {
        display: inline-block;
    }

    + .notify-field {
        display: block;
    }
}
