/* promo */

.promo-box {
    text-align: center;
    background-color: rgb(244, 244, 244);
    padding: 1rem 0;
    flex-grow: 1;
    display: flex;
  	flex-direction: column;
  	overflow: hidden;

    p {
        font-weight: 600;
        margin: 1em;
    }
}

.illustration {
    width: 150%;
    margin: 0;
    position: relative;
    margin-left: -20%;
    flex: 1;

    @media (max-width: 800px) {
        position: inherit;
        width: 100%;
    }
}

.promo-texts {
    background-color: $primary-red;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 0 1rem 1rem 0;
    box-sizing: border-box;
    flex-shrink: 1;
    flex: 1;

    p {
        color: white;
    }
}

.promo-part {
    width: 33%;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
}

.promo-part p {
    font-size: 1.1em;
    line-height: 1.4em;
    padding: 1em;
}
