/**
 * Promo
 */

img.logo {
    width: 90px;
}

h1.tagline {
    font-family: $montserrat;
    font-size: 2em;
    margin-bottom: 0.4em;
    color: $primary-red;
    font-weight: 600;
    line-height: 1.2;
}

.promo-box {
    text-align: center;
    background-color: rgb(244, 244, 244);
    padding: 2em;
    flex-grow: 1;
    display: flex;
  	flex-direction: column;
  	overflow: hidden;
    box-sizing: border-box;

    p {
        font-weight: 600;
        margin: 0.5em;
    }
}

.illustration {
    width: 150%;
    margin: 0;
    position: relative;
    margin-left: -20%;
    flex: 1;

    @media (max-width: 800px) {
        position: inherit;
        width: 100%;
    }
}
