$primary-red        : rgb(255, 96, 84);
$primary-blue-dark	: #113d70;
$gray				: rgb(244, 244, 244);
$light-transparent	: rgba(251, 251, 251, 0.5);
// $primary-white        : #F2F4F4;
// $primary-white-transp : rgba(242, 244, 244, 0.6);
// $clear-grey           : #F9F9F9;
// $light-grey           : #979FA0;
// $middle-grey       : #9BA3A4;
// $dark-grey            : #5F6666;
// $accent-blue          : #16C4B3;
// $accent-blue-transp   : rgba(22, 169, 179, 0.5);
// $accent-red           : #D32647;
// $accent-yellow        : #E5B10C;
// $accent-yellow-transp : rgba(229, 177, 12, 0.8);
// $fb-blue              : #3C5193;
