/**
 * Colors
 */

$primary-red        : #ff6054;
$primary-blue-dark  : #113d70;
$gray               : mix($primary-blue-dark, #eee, 3%);;
$gray-light         : #f4f4f4;
$light-transparent  : rgba($gray-light, 0.5);
