/**
 * Utilities layout classes
 */

.u-wrap {
    @media (min-width: $bp1) {
        height: 100%;
    }
}

.u-flex {
    @media (min-width: $bp1) {
        display: flex;
    }
}

.u-flex-column {
    @media (min-width: $bp1) {
        flex-direction: column;
    }
}

.u-flex-1 {
    @media (min-width: $bp1) {
        flex: 1;
    }
}
