/**
 * Utilities layout classes
 */

.u-wrap {
    @media (min-width: $bp2) {
        height: 100%;
    }
}

.u-flex {
    @media (min-width: $bp2) {
        display: flex;
    }
}

.u-flex-column {
    @media (min-width: $bp2) {
        flex-direction: column;
    }
}

.u-flex-1 {
    @media (min-width: $bp2) {
        flex: 1;
    }
}

.u-block {
    display: block;
}
