$c_red: rgb(255, 96, 84);
$c_blue: #113d70;
$c_darkblue: #224d6c;

* { box-sizing: border-box; }

body {
    font-family: 'Karla', Arial, sans-serif;
    font-size: 14pt;
    line-height: 150%;
}

header {
    width: 100%;
    height: 390px;

    .header__logocontainer {
        width: 130px;
        margin: 20px auto;
    }

    .header__banner {
        height: 350px;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-image: url('../images/illustration_header.svg');
    }
}

main {
    width: 960px;
    min-height: 360px;
    background: white;
    margin: 0 auto;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 0px 63.05px 2px rgba(0, 0, 0, 0.06);
    text-align: left;
    padding-bottom: 100px;
    overflow: auto;

    section {
        display: flex;
    }

    .section__image,
    .section__text {
        float: left;
        min-height: 260px;
    }

    .section__image {
        width: 320px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .section__image img {
        width: 200px;
        height: 200px;
    }

    .section__text {
        width: 640px;
    }

    p {
        color: $c_blue;
        padding: 20px 40px;
        margin: 0 auto 20px;
        text-align: justify;
    }

    h1 {
        color: $c_red;
        font-family: 'Montserrat', Arial;
        font-size: 2.5rem;
        padding: 40px 40px 20px;
        text-align: center;
    }

    .team {
        margin-top: 30px;
        display: block;

        h1, h2, h3 {
            text-align: center;
        }

        h2 {
            font-family: 'Montserrat', Arial;
            font-size: 1.5rem;
            color: $c_red;
        }

        .section__team {
            height: 350px;
            width: 840px;
            margin: 0 60px 30px;
            clear: both;
            display: flex;
            justify-content: center;

            .section__person {
                width: 280px;
                float: left;

                .person__links {
                    display: flex;
                    justify-content: center;

                    a {
                        display: block;
                        float: left;
                        padding: 5px 15px;
                        text-align: center;
                        margin: 10px 5px 0;
                        background: $c_blue;
                        color: white;
                        text-decoration: none;
                    }

                    a:hover {
                        text-decoration: underline;
                    }
                }

                .person__picture {
                    width: 200px;
                    height: 200px;
                    margin: 20px 40px;
                    border: 5px solid $c_darkblue;
                    border-radius: 50%;
                }
            }
        }
    }
}

footer {
    width: 100%;
    min-height: 250px;
    background: $c_red;

    h1 {
        text-align: center;
        padding: 40px 20px 20px;
        width: 100%;
        font-size: 2rem;
    }

    .links {
        display: flex;
        justify-content: center;

        a {
            display: block;
            padding: 0 20px;
            text-decoration: none;
            color: black;

            i {
                padding-right: 10px;
            }
        }

        a:hover {
            text-decoration: underline;
        }
    }
}

@media(max-width: 960px) {
    main {
        width: 100%;
        border-radius: 0;

        section {
            display: block;
        }

        .section__image {
            width: 100%;
        }

        .section__text {
            width: 100%;
        }

        section:nth-child(even) .section__image {
            display: none;
        }

        h1 {
            line-height: 130%;
        }

        .team {
            margin-top: 30px;

            h1, h2, h3 {
                text-align: center;
            }

            h2 {
                font-family: 'Montserrat', Arial;
                font-size: 1.5rem;
                color: $c_red;
            }

            .section__team {
                height: auto;
                width: 100%;
                margin: 0;
                display: block;
                text-align: center;
                margin-bottom: 50px;

                .section__person {
                    width: 100%;
                    float: none;
                    margin-top: 30px;

                    .person__links {
                        display: block;

                        a {
                            margin: 5px 5% 15px;
                            width: 90%;
                            float: none;
                        }

                        a:hover {
                            text-decoration: underline;
                        }
                    }

                    .person__picture {
                        width: 60%;
                        height: 60%;
                    }
                }
            }
        }
    }
}
