* {
  box-sizing: border-box; }

body {
  font-family: 'Karla', Arial, sans-serif;
  font-size: 14pt;
  line-height: 150%; }

header {
  width: 100%;
  height: 390px; }
  header .header__logocontainer {
    width: 130px;
    margin: 20px auto; }
  header .header__banner {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url("../images/illustration_header.svg"); }

main {
  width: 960px;
  min-height: 360px;
  background: white;
  margin: 0 auto;
  border-radius: 10px 10px 0 0;
  box-shadow: 0px 0px 63.05px 2px rgba(0, 0, 0, 0.06);
  text-align: left;
  padding-bottom: 100px;
  overflow: auto; }
  main section {
    display: flex; }
  main .section__image,
  main .section__text {
    float: left;
    min-height: 260px; }
  main .section__image {
    width: 320px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; }
  main .section__image img {
    width: 200px;
    height: 200px; }
  main .section__text {
    width: 640px; }
  main p {
    color: #113d70;
    padding: 20px 40px;
    margin: 0 auto 20px;
    text-align: justify; }
  main h1 {
    color: #ff6054;
    font-family: 'Montserrat', Arial;
    font-size: 2.5rem;
    padding: 40px 40px 20px;
    text-align: center; }
  main .team {
    margin-top: 30px;
    display: block; }
    main .team h1, main .team h2, main .team h3 {
      text-align: center; }
    main .team h2 {
      font-family: 'Montserrat', Arial;
      font-size: 1.5rem;
      color: #ff6054; }
    main .team .section__team {
      height: 350px;
      width: 840px;
      margin: 0 60px 30px;
      clear: both;
      display: flex;
      justify-content: center; }
      main .team .section__team .section__person {
        width: 280px;
        float: left; }
        main .team .section__team .section__person .person__links {
          display: flex;
          justify-content: center; }
          main .team .section__team .section__person .person__links a {
            display: block;
            float: left;
            padding: 5px 15px;
            text-align: center;
            margin: 10px 5px 0;
            background: #113d70;
            color: white;
            text-decoration: none; }
          main .team .section__team .section__person .person__links a:hover {
            text-decoration: underline; }
        main .team .section__team .section__person .person__picture {
          width: 200px;
          height: 200px;
          margin: 20px 40px;
          border: 5px solid #224d6c;
          border-radius: 50%; }

footer {
  width: 100%;
  min-height: 250px;
  background: #ff6054; }
  footer h1 {
    text-align: center;
    padding: 40px 20px 20px;
    width: 100%;
    font-size: 2rem; }
  footer .links {
    display: flex;
    justify-content: center; }
    footer .links a {
      display: block;
      padding: 0 20px;
      text-decoration: none;
      color: black; }
      footer .links a i {
        padding-right: 10px; }
    footer .links a:hover {
      text-decoration: underline; }

@media (max-width: 960px) {
  main {
    width: 100%;
    border-radius: 0; }
    main section {
      display: block; }
    main .section__image {
      width: 100%; }
    main .section__text {
      width: 100%; }
    main section:nth-child(even) .section__image {
      display: none; }
    main h1 {
      padding: 40px 0 20px;
      line-height: 130%; }
    main .team {
      margin-top: 30px; }
      main .team h1, main .team h2, main .team h3 {
        text-align: center; }
      main .team h2 {
        font-family: 'Montserrat', Arial;
        font-size: 1.5rem;
        color: #ff6054; }
      main .team .section__team {
        height: auto;
        width: 100%;
        margin: 0;
        display: block;
        text-align: center;
        margin-bottom: 50px; }
        main .team .section__team .section__person {
          width: 100%;
          float: none;
          margin-top: 30px; }
          main .team .section__team .section__person .person__links {
            display: block; }
            main .team .section__team .section__person .person__links a {
              margin: 5px 5% 15px;
              width: 90%;
              float: none; }
            main .team .section__team .section__person .person__links a:hover {
              text-decoration: underline; }
          main .team .section__team .section__person .person__picture {
            width: 60%;
            height: 60%; }

  footer .links {
    display: block;
    text-align: center; }
    footer .links a {
      margin-top: 10px; } }

/*# sourceMappingURL=styles.css.map */
